service: no-spoiler-service
frameworkVersion: '4'
useDotenv: true

licenseKey: ${ssm:/aws/reference/secretsmanager/SERVERLESS_LICENSE_KEY}

provider:
  name: aws
  runtime: nodejs20.x
  memorySize: 256
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}
  environment:
    NO_SPOILERS_TABLE_NAME: ${self:custom.NoSpoilersTable.name}
    TOKEN_SECRET: ${env:TOKEN_SECRET}
  iam:
    role:
      statements:
        - ${file(iam/NoSpoilersTableIAM.yml):NoSpoilersTableIAM}

resources:
  Resources:
    NoSpoilersTable: ${file(resources/NoSpoilersTable.yml):NoSpoilersTable}
    GatewayResponseDefault4XX:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'https://no-spoilers.net'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_4XX
        RestApiId:
          Ref: 'ApiGatewayRestApi'

functions:
  getRoot: ${file(src/rootFunctions.yml):RootFunctions.getRoot}
  getHealth: ${file(src/healthFunctions.yml):HealthFunctions.getHealth}

  getSeries: ${file(src/seriesFunctions.yml):SeriesFunctions.getSeries}
  getSeriesById: ${file(src/seriesFunctions.yml):SeriesFunctions.getSeriesById}
  postSeries: ${file(src/seriesFunctions.yml):SeriesFunctions.postSeries}
  patchSeries: ${file(src/seriesFunctions.yml):SeriesFunctions.patchSeries}
  deleteSeries: ${file(src/seriesFunctions.yml):SeriesFunctions.deleteSeries}
  
  postBook: ${file(src/bookFunctions.yml):BookFunctions.postBook}
  patchBook: ${file(src/bookFunctions.yml):BookFunctions.patchBook}
  deleteBook: ${file(src/bookFunctions.yml):BookFunctions.deleteBook}
  
  postEntry: ${file(src/entryFunctions.yml):EntryFunctions.postEntry}
  patchEntry: ${file(src/entryFunctions.yml):EntryFunctions.patchEntry}
  deleteEntry: ${file(src/entryFunctions.yml):EntryFunctions.deleteEntry}
  
  postUser: ${file(src/userFunctions.yml):UserFunctions.postUser}
  deleteUser: ${file(src/userFunctions.yml):UserFunctions.deleteUser}
  postLogin: ${file(src/userFunctions.yml):UserFunctions.postLogin}

  getLevels: ${file(src/levelFunctions.yml):LevelFunctions.getLevels}
  postLevel: ${file(src/levelFunctions.yml):LevelFunctions.postLevel}
  deleteLevel: ${file(src/levelFunctions.yml):LevelFunctions.deleteLevel}
  
custom:
  NoSpoilersTable:
    name: !Ref NoSpoilersTable
    arn: !GetAtt NoSpoilersTable.Arn
    indexes: !Join [ '/', [!GetAtt NoSpoilersTable.Arn,index/*] ]