name: Deploy Lamda to Dev

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: asdf-vm/actions/install@v4
    - run: npm install
    - name: serverless deploy
      run: npm run sls:deploy
      env:
        SERVERLESS_LICENSE_KEY: ${{ secrets.SERVERLESS_LICENSE_KEY }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        TOKEN_SECRET: ${{ secrets.TOKEN_SECRET }}
